* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    height: 300px;

    
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 100%;
    width: 90%;
    background-color: black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: rgb(32, 32, 32);
}
p {
    font-size: 1.5rem;

    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}
.selector {
    width: 100%;
    padding: 20px 10px;
    background-color: gold;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    border-radius: 5px;
    font-size: 2rem;
    margin: 10px;

    font-weight: 700;
    width: 90%;
    max-width: 600px;
    height: 50px;

    background-color: white;
    border: transparent;
}

select option {
    color: blue;
}

.descripcion {
    padding: 0px 10px 0px 15px;
}

.botonera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
margin: 10px 0px;
    width: 100%;
    height: 100%;
}
.botonera a {
    color: black;

    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;

    padding: 15px;
    margin: 5px 0px;
    text-decoration: none;
}


 a:visited {
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    background-color: gold;
    border-radius: 10px;

    margin: 10px 0px 10px 0px;

    text-align: center;
}

footer p {
    padding: 10px 0px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/* <== media queries ==> */

@media (min-width: 450px) {
    h1 {
        text-align: center;
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }
}
